/*simple CSS reset*/
*,
*::before *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    width: 100vw;
    font-size: 24px;
}

/*End of reset*/
body {
    display: grid;
    grid-template-rows: 200px auto 100px;
    background-color: #ff0000;
}

h1 {
    padding-top: 0;
    line-height: 0;
    font-size: 100px;
}

header {
    text-align: center;
}

main {
    grid-template-columns: 200px auto 200px;
}

main>img{
    align-items: center;
  width: 50%;
}